* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f4f6f9;
  padding: 20px;
  width: 21cm;
  height: 29.7;
}

aside {
  width: 5.5cm;
  height: 29.7cm;
  background: #1e2939;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 40px;
}

aside ul {
  padding-left: 20px;
  color: #ff6b08;
}

aside h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.aside-li-text {
  color: #ffffff;
}

.aside-content {
  padding-left: 10px;
  padding-top: 0 px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.aside-block {
  margin-bottom: 20px;
}

.wrapper {
  background: #ffffff;
  display: flex;
}

aside img {
  height: auto;
  width: auto;
  max-width: 5.5cm;
  margin-bottom: 57px;
}

.about-me-container {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 110px;
  font-size: 12px;
}

.about-me-container h4 {
  color: #ff6b08;
}

.contact-links {
  color: #ffffff;
  /* opacity: 0.5; */
}

.contact-id {
  font-weight: 700;
  margin-right: 10px;
}
