* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f4f6f9;
  padding: 20px;
}

aside {
  width: 370px;
  height: 1319px;
  background: #1e2939;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.company-name {
  color: #ff6b08;
}

.aside-content {
  padding-left: 40px;
  padding-top: 57px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.h3-aside {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.aside-block {
  margin-bottom: 20px;
}

.wrapper {
  background: #ffffff;
  display: flex;
}

.profile-foto {
  height: auto;
  width: auto;
  max-width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contact-links {
  color: #ffffff;
  opacity: 0.5;
}

.contact-id {
  font-weight: 700;
  margin-right: 10px;
}
